<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Document</title>
</head>
<body>
  <p>Please first ensure that the Performer is not in the dropdown
    <select>
      <% pokemons.forEach(function(p) { %>
        <option><%= p.pokename %></option>
      <% }) %>
    </select>
  </p>
    <form id="new-form" action="/pokemons" method="POST">
        <label>Pokemon Name:</label>
        <input type="text" name="pokename">
        <label>Pokemon Id: </label>
        <input type="number" name="pokeid">
        <label>Pokemon Type 1: </label>
        <select name="poketype1">
            <option value="Normal">Normal</option>
            <option value="Fighting">Fighting</option>
            <option value="Flying">Flying</option>
            <option value="Poison">Poison</option>
            <option value="Ground">Ground</option>
            <option value="Rock">Rock</option>
            <option value="Bug">Bug</option>
            <option value="Ghost">Ghost</option>
            <option value="Steel">Steel</option>
            <option value="Fire">Fire</option>
            <option value="Water">Water</option>
            <option value="Grass">Grass</option>
            <option value="Electric">Electric</option>
            <option value="Psychic">Psychic</option>
            <option value="Ice">Ice</option>
            <option value="Dragon">Dragon</option>
            <option value="Dark">Dark</option>
            <option value="Fairy">Fairy</option>
          </select>
        <label>Pokemon Type 2: </label>
        <select name="poketype2">
          <option value="N/A">N/A</option>
          <option value="Normal">Normal</option>
          <option value="Fighting">Fighting</option>
          <option value="Flying">Flying</option>
          <option value="Poison">Poison</option>
          <option value="Ground">Ground</option>
          <option value="Rock">Rock</option>
          <option value="Bug">Bug</option>
          <option value="Ghost">Ghost</option>
          <option value="Steel">Steel</option>
          <option value="Fire">Fire</option>
          <option value="Water">Water</option>
          <option value="Grass">Grass</option>
          <option value="Electric">Electric</option>
          <option value="Psychic">Psychic</option>
          <option value="Ice">Ice</option>
          <option value="Dragon">Dragon</option>
          <option value="Dark">Dark</option>
          <option value="Fairy">Fairy</option>
        </select>
        <label>Description:</label>
        <input type="text" name="pokedescript">
        <input type="submit" value="Add Pokemon">
      </form>
</body>
</html>