<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title><%= pokemon.pokename %></title>
</head>
<body>
    <h1>Hello!</h1>
    <form id="add-note-form" method="POST" action="/pokemons/<%= pokemon._id %>/notes">
        <label>Researcher Notes:</label>
        <textarea name="notecontent"></textarea>
        <input type="submit" value="Add Note">
      </form>
</body>
</html>