<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Pokehub!</title>
</head>
<body>
    <h1>Welcome, Pokemon Trainer!</h1>
        <ul>
            <li>
            <% if (user) { %>
                <a href="/logout" class="loginbutton">Log Out</a>
            <% } else { %>
                <a href="/auth/google" class="loginbutton">Login</a>
            <% } %>
            </li>
        </ul>
</body>
</html>