* {
    box-sizing: border-box;
    font-family: monospace;
    color: black;
  }
  
  body {
    margin: 0;
    height: 100vh;
    background-image: url('/public/images/Pokedexopen.png');
    background-repeat: no-repeat;
    display: grid;
    grid-template-rows: 50px 1fr;
    grid-template-areas: 
      "nav"
      "main"
  }

  body > nav {
    grid-area: nav;
    background-color: #CC0000;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 20px 0 20px;
  }

  body > main {
    grid-area: main;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #32CD32;
    padding: 20px;
    overflow-y: scroll;
  }

  nav > a {
    margin: 20px;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
  }
  
  nav > a:hover {
    color: white;
    background-color: #14b5d0;
  }


  table {
    font-size: 20px;
  }
  
  table thead th {
    padding: 5px;
    border-bottom: 2px solid #424748;
  }
  
  table td {
    padding: 10px;
    text-align: center;
  }

  table tr {
    padding: 10px;
    text-align: center;
  }