<%- include('../partials/header') %>
<div class = "researcherprofile">
<h1>Welcome, Assistant Researcher <%= user.name %>!</h1>
    <p><img src = "https://www.zachwhalen.net/wp/wp-content/uploads/2015/09/bababy_sportgpikaconstruction.gif" style="width:400px;height:300px;"></p>
    <h4>Stay tuned!</h4>
</div>
<%- include('../partials/footer') %>